body {
    margin: 0;
}
#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
#nav a {
    margin-right: 20px;
}
#nav a.signinnav {
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
}

#main {
    margin-top: 300px;
}
#logo {
    text-align: center;
}
#searchbartool {
    margin-top: 20px;
    text-align: center;
}
#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 2rem;
    border: 1px solid #c4c4c4;
}
#buttons {
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.google-search .feeling-lucky {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 5px;
}
#languages {
    margin-top: 20px;
    text-align: center;
}
#footer {
    position: absolute;
    background-color: #f2f2f2;
    bottom: 0px;
    display: grid;
    bottom: 0px;
    left: 0px;
    right: 0px;
    grid-template-columns: 50px 50px 50px 100px auto 50px 30px 50px;
    grid-template-rows: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    grid-template-areas:

  ".advertising .business .about .howsearch  .   .privacy .terms .footersettings";
}
  
.advertising {
    grid-area:advertising;
    justify-self:center;
    align-self:center;
}
.business{
    grid-area:business;
    justify-self: start;
    align-self:center;
}
.about{
    grid-area:about;
    justify-self: self-start;
}
.howsearch{
    grid-area:howsearch;
    justify-self:self-start;
    align-self:center;
}
.privacy{
    grid-area:privacy;
    justify-self:self-end;
    align-self:center;
}
.terms{
    grid-area:terms;
    justify-self:self-end;
    align-self:center;
}
.footersettings{
    grid-area:footersettings;
    justify-self:flex-end;
    align-self:center;
}